/* General */


html{
  scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    /* background-color: #121212; */
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 14px;
    background-color: #2e2e2e;
    height: auto;
  }
  

  hr{
    border: .3px solid #979797;
    margin: 20px 0;
  }

  .container {
    max-width: 1500px;
    height: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .title {
    color: #ffffff;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 32px;
  }
  
  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #1e1e1e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  }
  
  .header .logo h1 {
    font-size: 1.8em;
    color: #00e8b4;
    margin: 0 ;
  }
  
  .nav {
    display: flex;
    align-items: center;
  }
  
  .nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.2em;
  }
  
  .theme-button {
    width: 40px;
    height: 40px;
    border-radius: 75%;
    border: none;
    background-color: #00e8b4;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .theme-button.dark {
    background-color: #444444;
  }

  .dark{
    background-color: #444444;
  }
  
  /* Table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #1e1e1e;
    border-radius: 15px;
    box-shadow: 0 0 15px#00e8b4;
    overflow: hidden;
  }
  
  thead {
    /* background-color: #4caf50; */
    color: #ffffff;
  }
  
  th{
    text-align: left;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
  } 
  
  td {
    text-align: left;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    
  }
  
  table tr {
    border-bottom: 1px solid #283829;
  }

  tr {
    background-color: #1e1e1e;
  }


  thead:hover{
    background-color:#00e8b4;
  }
  
tbody tr:hover{
  background-color: #171717;
}  

  td a {
    color:#00e8b4;
    text-decoration: none;
  }
  
  td a:hover {
    text-decoration: none;
    color: #00b78f ;
  }
  
  .icon-success {
    color: #00e8b4;
    margin-right: 5px;
    font-weight: bold;
  }

  i{
    height: 40px;
    width: 40px;
  }

  .details-row {
    background-color: #2e2e2e;
  }

  .details-row:hover{
    background-color: #2e2e2e;
  }
  
  .details-row td {
    padding: 20px;
  }

  .details-containerF{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .details-container {
    width: 75%;
    font-family: "Banscherift", Arial, sans-serif;
    display: flex;
    flex-direction: column;
  }
.detail-value{
  height: 40px;
  display: flex;
  color: #bbbbbb;
}

.detail-value a{
  color: #00b78f;
  text-decoration: none;
}

.detail-status{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.detail-title{
  color: #bbbbbb;
}

.transaction-status{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 40px;
}

.left-container{
  width: 30%;
}

.right-container{
  width: 70%;
}

.aproved{
  border: 1px solid #00e868 ;
  border-radius: 15px;
  padding: 1px 15px;
  text-align: center;
  display: flex;
  align-items: center; 
}

.success{
  color: #00e868;
}

.fa-circle-info{
  color: #bbbbbb;
}

.contenedor-padre-desplegable{
  border-collapse: collapse;
  border-radius: 15px;
  box-shadow: 0 0 15px #959595;
  background-color: #2e2e2e;
  padding: 30px;
}

.container-metadata{
  margin-top: 40px;
}

.title-metadata{
  font-weight: 700;
  font-size: 18px;
}

.markdown{
  border-collapse: collapse;
  border-radius: 15px;
  background-color: #1e1e1e;
  box-shadow: 0 0 10px #505050;
  padding: 30px;
}

.pagination{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  text-align: center;
}

.pagination-container{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  height: 50px;
  border-radius: 10px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #1e1e1e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #00e8b4;
}

.pagination i {
  font-size: 16px;
}

#last-page{
  height: 30px;
}

#prev-page{
  height: 25px;
}
#first-page{
  height: 30px;
}

#next-page{
  height: 25px;

}

#current-page{
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.fa-arrow-right{
  display: flex;
  align-content: center;
}


#search-container {
  margin: 20px auto;
  text-align: center;
}

#transaction-id {
  padding: 10px;
  width: 500px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #2e2e2e;
  color: #bbbbbb;
  border: 1px solid transparent;
}

#search-btn {
  font-size: 16px;
  background-color: #00b78f;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 0 5px ;
}

#search-btn:hover {
  background-color: #008f70;
}

#transaction-details-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
}

.transaction-details pre {
  background-color: #1e1e1e;
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
}

.transaction-details .close-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #00b78f;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.transaction-details .close-btn:hover {
  background-color: #008f70;

}

/* Estilo del buscador */
#search-container {
  display: flex;
  align-items: center;
  gap: 10px;
}



.fa-search{
  display: flex;
  align-content: center;
}

#transaction-title{
  color: #00b78f;
  
 }

 #transaction-id:hover {
  /* box-shadow: 0 0 10px #008f70; */
  background-color: #171717;
  border-color: transparent;
 }

